{% extends "base.html" %}

{% block content %}
{% for book in books %}
    <div class="book">
        <a href="/books/{{book.id}}">{{book.title}}</a>
        <p class="author_name"> {{book.author.full_name() }}</p>
        <p class="genre">Genre: {{ book.genre }}</p>
        <p class="publisher">Publisher: {{ book.publisher }}</p>
        
    </div>
    <form class="delete-form" action="/books/{{ book.id }}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{% endfor %}
{% endblock %}

